<!DOCTYPE html>
<html>
<head>
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
</head>
<body>
  <div id="container">
    <a-scene>
      <a-assets>
        <!-- 360-degree images LINK START -->
        <img id="MAIN" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/MAINVIEW.png?v=1687782535965">
        <img id="RECEPTION" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_124442655.PHOTOSPHERE~2.jpg?v=1687799333436">
        <img id="innerview" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_124312178.PHOTOSPHERE.jpg?v=1687799355977">
        <img id="stairs" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_123848515.PHOTOSPHERE.jpg?v=1687799395901">
        <img id="avrlab" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/lab1.jpg?v=1687781212677">
        <img id="212lab" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/lab2.jpg?v=1687781206034">
        <img id="boyshostel" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_131402904.PHOTOSPHERE~2.jpg?v=1687799401970">
        <img id="playground" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_132723118.PHOTOSPHERE.jpg?v=1687799390151">
        <!-- 360-degree images LINK END -->
        
        <!-- THUMBNAILS link start -->
        <img id="MAIN-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/MAINVIEW.png?v=1687782535965">
        <img id="RECEPTION-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/RECEPTION.png?v=1687801300499">
        <img id="innerview-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/INNERVIEW.png?v=1687782343012">
        <img id="stairs-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/STAIRS.png?v=1687782367834">
        <img id="avrlab-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/ELECTRONICSLAB.png?v=1687782148945">
        <img id="212lab-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/ELECTRONICSLAB.png?v=1687782148945">
        <img id="boyshostel-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/HOSTEL.png?v=1687801290967">
        <img id="playground-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PLAYGROUND.png?v=1687801283202">
        <!-- THUMBNAILS link END -->
      </a-assets>
      
      <!-- 360-degree image sphere -->
      <a-sky id="image-360" radius="10" src="#MAIN"></a-sky>
      
      <!-- Thumbnails -->
      <div id="thumbnail-container">
        <div class="thumbnail">
          <img src="#MAIN-thumb" onclick="changeImage('MAIN')">
        </div>
        <div class="thumbnail">
          <img src="#RECEPTION-thumb" onclick="changeImage('RECEPTION')">
        </div>
        <div class="thumbnail">
          <img src="#innerview-thumb" onclick="changeImage('innerview')">
        </div>
        <div class="thumbnail">
          <img src="#stairs-thumb" onclick="changeImage('stairs')">
        </div>
        <div class="thumbnail">
          <img src="#avrlab-thumb" onclick="changeImage('avrlab')">
        </div>
        <div class="thumbnail">
          <img src="#212lab-thumb" onclick="changeImage('212lab')">
        </div>
        <div class="thumbnail">
          <img src="#boyshostel-thumb" onclick="changeImage('boyshostel')">
        </div>
        <div class="thumbnail">
          <img src="#playground-thumb" onclick="changeImage('playground')">
        </div>
      </div>
    </a-scene>
  </div>

  <!-- Click sound effect -->
  <audio id="click-sound" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/click.ogg?v=1687805209558"></audio>

  <script>
    function changeImage(imageId) {
      var sky = document.getElementById('image-360');
      var imageSrc = document.getElementById(imageId).getAttribute('src');
      sky.setAttribute('src', imageSrc);
    }
  </script>
</body>
</html>
