<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>360&deg; NIELIT Gallery</title>
  <meta name="description" content="360&deg; Image Gallery - A-Frame">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

  <!-- A-Frame and A-Frame components -->
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  <script src="https://unpkg.com/aframe-event-set-component@5/dist/aframe-event-set-component.min.js"></script>
  <script src="https://unpkg.com/aframe-layout-component@5.3.0/dist/aframe-layout-component.min.js"></script>
  <script src="https://unpkg.com/aframe-template-component@3.6.0/dist/aframe-template-component.min.js"></script>
  <script src="https://unpkg.com/aframe-proxy-event-component@2.1.0/dist/aframe-proxy-event-component.min.js"></script>

  <style>
    /* Additional CSS styles for gallery layout */
    #gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .link {
      margin: 10px;
    }
  </style>
</head>

<body>
<div class="container">
  <div class="text-center">
    <h1>360&deg; NIELIT Gallery</h1>
  </div>

  <a-scene>
    <a-assets>
      <!-- 360-degree images LINK START -->
      <img id="MAIN" crossorigin="anonymous"
           src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_124809767.PHOTOSPHERE~2.jpg?v=1687799341347">
      <img id="RECEPTION" crossorigin="anonymous"
           src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_124442655.PHOTOSPHERE~2.jpg?v=1687799333436">
      <img id="innerview" crossorigin="anonymous"
           src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_124312178.PHOTOSPHERE.jpg?v=1687799355977">
      <img id="stairs" crossorigin="anonymous"
           src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_123848515.PHOTOSPHERE.jpg?v=1687799395901">
      <img id="avrlab" crossorigin="anonymous"
           src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/lab1.jpg?v=1687781212677">
      <img id="212lab" crossorigin="anonymous"
           src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/lab2.jpg?v=1687781206034">
      <!-- 360-degree images LINK END -->
    </a-assets>

    <!-- 360-degree image gallery START -->
    <a-sky id="image" radius="10" src="#MAIN" rotation="0 180 0"></a-sky>

    <a-plane id="links" position="0 -4 -10" rotation="-20 0 0" scale="4 4 4" material="color: transparent;"></a-plane>

    <a-entity id="gallery">
      <a-plane class="link" id="main" width="4" height="3.5" material="src: #MAIN"></a-plane>
      <a-plane class="link" id="reception" width="4" height="3.5" material="src: #RECEPTION"></a-plane>
      <a-plane class="link" id="innerview" width="4" height="3.5" material="src: #innerview"></a-plane>
      <a-plane class="link" id="stairs" width="4" height="3.5" material="src: #stairs"></a-plane>
      <a-plane class="link" id="avrlab" width="4" height="3.5" material="src: #avrlab"></a-plane>
      <a-plane class="link" id="212lab" width="4" height="3.5" material="src: #212lab"></a-plane>
    </a-entity>
    <!-- 360-degree image gallery END -->
  </a-scene>
</div>
</body>
</html>
