<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>360&deg; NIELIT Gallery</title>
    <meta name="description" content="360&deg; Image Gallery - A-Frame">
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-event-set-component@5/dist/aframe-event-set-component.min.js"></script>
    <script src="https://unpkg.com/aframe-layout-component@5.3.0/dist/aframe-layout-component.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
    <script src="https://unpkg.com/aframe-proxy-event-component@2.1.0/dist/aframe-proxy-event-component.min.js"></script>
    <style>
      body {
        margin: 0;
        overflow: hidden;
        font-family: Helvetica, Arial, sans-serif;
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .tile {
        width: 250px;
        height: 250px;
        margin: 10px;
        background-color: #f1f1f1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
      }
    </style>
    <script>
      AFRAME.registerComponent('cursor-listener', {
        init: function () {
          this.el.addEventListener('click', function (evt) {
            var image = document.querySelector('#image-360');
            image.emit('fade');
            setTimeout(function() {
              image.emit('fadeback');
            }, 300);
          });
        }
      });
    </script>
    <script>
      function addAnimationToLinks() {
        var links = document.getElementsByClassName('link');
        for (var i = 0; i < links.length; i++) {
          links[i].setAttribute('animation__click', 'property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150');
          links[i].setAttribute('animation__fusing', 'property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 1500');
        }
      }
      
      window.onload = addAnimationToLinks;
    </script>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <!-- 360-degree images link -->
        <img id="MAIN" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_124809767.PHOTOSPHERE~2.jpg?v=1687799341347">
        <img id="RECEPTION" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_124442655.PHOTOSPHERE~2.jpg?v=1687799333436">
        <img id="innerview" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_124312178.PHOTOSPHERE.jpg?v=1687799355977">
        <img id="stairs" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_123848515.PHOTOSPHERE.jpg?v=1687799395901">
        <img id="avrlab" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/lab1.jpg?v=1687781212677">
        <img id="212lab" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/lab2.jpg?v=1687781206034">
        <img id="boyshostel" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_131402904.PHOTOSPHERE~2.jpg?v=1687799401970">
        <img id="playground" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PXL_20230626_132723118.PHOTOSPHERE.jpg?v=1687799390151">
        <!-- 360-degree images link end -->

        <!-- outer poster link start -->
        <img id="MAIN-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/MAINVIEW.png?v=1687782535965">
        <img id="RECEPTION-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/RECEPTION.png?v=1687801300499">
        <img id="innerview-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/INNER%20VIEW.png?v=1687801310846">
        <img id="stairs-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/STAIRS.png?v=1687801281254">
        <img id="avrlab-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/AVRCOVER.png?v=1687781934260">
        <img id="212lab-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/ELECTRONICSLAB.png?v=1687782148945">
        <img id="boyshostel-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/BOYS%20HOSTEL.png?v=1687801320940">
        <img id="playground-thumb" crossorigin="anonymous" src="https://cdn.glitch.global/9643226b-b70f-4c02-8018-2513b74927a2/PLAYGROUND.png?v=1687781676947">
        <!-- outer poster link end -->
      </a-assets>

      <!-- 360-degree images entity -->
      <a-sky id="image-360" src="#MAIN" rotation="0 -90 0" animation__fade="property: components.material.material.color; type: color; from: #FFF; to: #000; dur: 300; startEvents: fade" animation__fadeback="property: components.material.material.color; type: color; from: #000; to: #FFF; dur: 300; startEvents: fadeback"></a-sky>
      
      <!-- Thumbnails -->
      <div class="container">
        <div class="tile link" id="MAIN-link" style="background-image: url(#MAIN-thumb);" data-src="#MAIN"></div>
        <div class="tile link" id="RECEPTION-link" style="background-image: url(#RECEPTION-thumb);" data-src="#RECEPTION"></div>
        <div class="tile link" id="innerview-link" style="background-image: url(#innerview-thumb);" data-src="#innerview"></div>
        <div class="tile link" id="stairs-link" style="background-image: url(#stairs-thumb);" data-src="#stairs"></div>
        <div class="tile link" id="avrlab-link" style="background-image: url(#avrlab-thumb);" data-src="#avrlab"></div>
        <div class="tile link" id="212lab-link" style="background-image: url(#212lab-thumb);" data-src="#212lab"></div>
        <div class="tile link" id="boyshostel-link" style="background-image: url(#boyshostel-thumb);" data-src="#boyshostel"></div>
        <div class="tile link" id="playground-link" style="background-image: url(#playground-thumb);" data-src="#playground"></div>
      </div>

      <!-- Click sound -->
      <a-entity sound="src: https://cdn.aframe.io/360-image-gallery-boilerplate/audio/click.ogg" id="click-sound"></a-entity>
      
      <!-- Set up the cursor -->
      <a-entity cursor="rayOrigin: mouse" id="cursor"></a-entity>
    </a-scene>

    <script>
      AFRAME.registerComponent('link', {
        schema: {
          href: { default: '' },
        },

        init: function () {
          var data = this.data;
          var el = this.el;

          el.addEventListener('click', function () {
            if (data.href !== '') {
              window.location.href = data.href;
            }
          });

          el.addEventListener('mouseenter', function () {
            el.setAttribute('scale', '1.2 1.2 1.2');
          });

          el.addEventListener('mouseleave', function () {
            el.setAttribute('scale', '1 1 1');
          });
        },
      });
    </script>
  </body>
</html>